<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">People Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Add People <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchPeoples(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search peoples..." required>
     </form>
  </div>
</nav>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let persona of personas" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{persona?.nombre}}</h5>
                        <p class="m-0">{{persona?.apellido}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{persona?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{persona?.telefono}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(persona, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(persona, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!-- Add People Modal -->
<div class="modal fade" id="addPeopleModal" tabindex="-1" role="dialog" aria-labelledby="addPeopleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addPeopleModalLabel">Add People</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddPeople(addForm)">
          <div class="form-group">
             <label for="name">Nombre</label>
             <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
             <label for="phone">Apellido</label>
             <input type="text" ngModel name="apellido" class="form-control" id="apellido" placeholder="Apellido" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
         </div>
          <div class="form-group">
             <label for="phone">Telefono</label>
             <input type="text" ngModel name="telefono" class="form-control" id="telefono" placeholder="Telefono" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-people-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="updatePeopleModal" tabindex="-1" role="dialog" aria-labelledby="PeopleEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updatePeopleModalLabel">Edit People {{editPeople?.nombre}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="nombre">Nombre</label>
                 <input type="text" ngModel="{{editPeople?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
              </div>
              <input type="hidden" ngModel="{{editPeople?.idPersona}}" name="idPersona" class="form-control" id="idPersona" placeholder="id">
              <input type="hidden" ngModel="{{editPeople?.idPersona}}" name="idPersona" class="form-control" id="idPersona" placeholder="id">
              <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" ngModel="{{editPeople?.apellido}}" name="apellido" class="form-control" id="apellido" placeholder="Apellido">
             </div>
              <div class="form-group">
                 <label for="email">Email Address</label>
                 <input type="email" ngModel="{{editPeople?.email}}" name="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                 <label for="telefono">Telefono</label>
                 <input type="text" ngModel="{{editPeople?.telefono}}" name="telefono" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdatePeople(editForm.value,editPeople.idPersona)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deletePeopleModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete People</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete people {{deletePeople?.nombre}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeletePeople(deletePeople?.idPersona)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<!-- Notification for no People -->
<div *ngIf="personas?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">NO PEOPLES!</h4>
  <p>No Peoples were found.</p>
</div>
</div>

<!-- <div class="container">
   <h1>ASIGNACION DE ROLES Y PERMISOS</h1>
 //////////////////////////USUARIOS/////////////////////////////::

<div class="row g-5 g-xl-8">
    <div class="col-xl-3">
        <div class="card card-xl-stretch mb-xl-8">
            <div class="card-header border-0">
                <h3 class="card-title fw-bolder text-dark">Usuarios</h3>
            </div>

            <div class="card-body pt-2" *ngFor="let usuarios of listUsers">
                <div class="d-flex align-items-center mb-7">
                  
                    <div class="symbol symbol-50px me-5">
                        <img src="./assets/media/avatars/300-5.jpg" class="" alt="" />
                    </div>
               
                    <div class="flex-grow-1">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                          {{ usuarios.user }}
                        </a>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xl-3">
      
        <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column" *ngIf="exists">
                <span class="card-label fw-bolder text-dark">Asignar Perfil</span>
            </h3>
            <div class="card-toolbar"></div>
      
            <div class="card-body pt-5" *ngFor="let perfil of listProfiles">
              
                <div class="d-flex align-items-center mb-7">
                   
                    <div class="d-flex flex-column">
                        <a href="#" class="text-dark text-hover-primary fs-6 fw-bolder">
              {{ perfil.name }}
            </a>
                        <span class="text-muted fw-bold">{{ perfil.description }}</span>
                    </div>
              
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xl-3">
     
        <div class="card-header border-0">
            <h3 class="card-title fw-bolder text-dark">Roles</h3>
        </div>
      
        <div class="card-body pt-2" *ngFor="let rol of listRoles">
          
            <div class="d-flex align-items-center mb-8">
               
                <span class="bullet bullet-vertical h-40px bg-success"></span>
              
                <div class="form-check form-check-custom form-check-solid mx-5">
                    <input class="form-check-input" type="checkbox" value="" />
                </div>
               
                <div class="flex-grow-1">
                    <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
            {{ rol.name }}
          </a>
                    <span class="text-muted fw-bold d-block">{{ rol.description }}</span>
                </div>
               
                <span class="badge badge-light-success fs-8 fw-bolder">Add</span>
            </div>
         
        </div>
    </div>

  
    <div class="col-xl-3">
        <div class="card-header border-0">
            <h3 class="card-title fw-bolder text-dark">Permisos</h3>
        </div>
        <div class="card-body pt-2" *ngFor="let permiso of listPermissions">

            <div class="d-flex align-items-center mb-8">

                <span class="bullet bullet-vertical h-40px bg-success"></span>

                <div class="form-check form-check-custom form-check-solid mx-5">
                    <input class="form-check-input" type="checkbox" value="" />
                </div>

                <div class="flex-grow-1">
                    <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
            {{ permiso.name }}
          </a>
                    <span class="text-muted fw-bold d-block">{{ permiso.description }}</span>
                </div>

                <span class="badge badge-light-success fs-8 fw-bolder">Add</span>
            </div>

        </div>
    </div>
</div> -->
<div class="row">
   <div class="col-xl-3 col-lg-3 col-md-12   component-list">
      <h2>Lista de Usuarios</h2>
      <mat-selection-list #listaUsuarios [multiple]="false">
         <mat-list-option *ngFor="let usuario of listUsers" [value]="usuario.user">
            {{ usuario.user }}
         </mat-list-option>
      </mat-selection-list>
   </div>
   <div class="col-xl-3 col-lg-3 col-md-12   component-list">
      <h2>Lista de Perfiles2</h2>
      <mat-selection-list #listaPerfiles [multiple]="false">
         <mat-list-option *ngFor="let perfil of listProfiles" >
            
         </mat-list-option>
      </mat-selection-list>
   </div>
   <div class="col-xl-3 col-lg-3 col-md-12   component-list">
      <h2>Lista de Roles</h2>
      <mat-selection-list #listaRoles [multiple]="false">
         <mat-list-option *ngFor="let rol of listRoles" [value]="rol.name">
            {{ rol.name }}
         </mat-list-option>
      </mat-selection-list>
   </div>
   <div class="col-xl-3 col-lg-3 col-md-12   component-list">
      <h2>Lista de Permisos</h2>
      <mat-selection-list #listaPermisos [multiple]="false">
         <mat-list-option *ngFor="let permiso of listPermissions" [value]="permiso.name">
            {{ permiso.name }}
         </mat-list-option>
      </mat-selection-list>
   </div>
</div>




